.col {
    color: #e6e6e6!important;
    font-weight: 100;
    font-size: 1vw;
    text-align: center;
}
.contactInfo {
    padding-top: 2vw;
}

.aboutSite {
    font-family: inconsolata,monospace !important;
}