.col {
    color: #e6e6e6!important;
    text-align: center;
}


.aboutSite {
    font-family: inconsolata,monospace !important;
    color: #e6e6e6!important;
    
}

.contactInfo {
    padding: '10vw';
}